/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   Style reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

*,
* :before,
* :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.font--small {
    font-size: 12px;
}

.form--main {
    font: 200 18px sans-serif;
    color: #788084;
    width: 500px;
    border: 20px solid #a8ccd5;
    border-bottom: 35px solid #a8ccd5;
    background-color: #fff;
    margin: 0 auto;
    padding: 18px;
}

.form--main header {
    padding: 10px;
    margin-bottom: 5%;
    font-size: 14px;
}

.form--main h1,h2 {
    color: #4f8ece;
}

.form--main h1 {
    font-size: 37px;
    font-weight: 400;
}

.form--body {
    border-top: 1px solid #a8ccd5;
    padding: 10px;
}

label {
    display: block;
}

label:after {
    content: ":";
}

.form--section-website {
    position: relative;
}

.form--section__field--website span{
    position: absolute;
    top: 2px;
    left: 55.3%;
    padding-top: 1.3%;
    height: 29px;
    width: 40%;
    text-align: center;
    background-color: #f2f3f4;
    font-size: 15px;
}

.form--section__field {
    background-color: #f2f3f4;
    border-radius: 3px;
    padding: 20px;
}

.form--section__field--website li{
    position: relative;
}

.form--section h2 {
    margin-top: 5%;
    font-size: 20px;
    font-weight: 400;
}

.form--label-first {
    font-size: 14px;
    margin: 1% 0 1% 1%;
}

.form--label {
    font-size: 14px;
    margin: 20px 0 1% 1%;
}

.form--section input {
    margin-left: 3px;
}

.form--section input {
    border: 2px solid #a8ccd5;
    border-radius: 3px;
    padding: 8px;
}

.form--section__card-number {
    width: 45%;
    vertical-align: top;
    display: inline-block;
}

.form--section__card-image {
    width: 50%;
    margin: 6% 0 0 2%;
    display: inline-block;
}

.form--section__card-image img {
    width: 40px;
    height: 25px;
}

.form--section_card-securityCode {
    width: 35%;
    margin-top: 1%;
    vertical-align: top;
    display: inline-block;
}

.form--section_card-securityCode input {
    width: 100%;
}

.form--section_card-expirationDate {
    width: 60%;
    margin-top: 1%;
    margin-left: 3.5%;
    display: inline-block;
}

.form--section_card-expirationDate input {
    width: 60%
}

.form--section_card-expirationDate input:nth-child(3) {
    width: 30%;
    margin-left: 1%;
}

.form--section__check {
    margin-top: 10px;
    display: inline-block;
}

.error--message_style {
    font-size: 13px;
    margin: 10px 0 0 5px;
    height: 10px;
    color: #d0021b;
    font-weight: 500;
}

.block_element {
    display: block;
    width: 95%;
}

.inline_element {
    display: inline;
}

.btn {
    width: 100%;
    margin-top: 5%;
    color: #fff;
    font-size: 18px;
    border: 1px solid;
    padding: 2%;
}

.btn--info {
    background-color: #4f8ece;
    border-color: #4f8ece;
}

.card--inactive {
    opacity: 0.3;
}

.errorMessageBefore {
    border-radius: 50%;
    width: 20px;
    text-align: center;
    height: 20px;
    font-size: 15px;
    position: absolute;
    color: #fff;
    border: 1px solid #d0021b;
    background-color: #d0021b;
}

.errorMessage {
    position: absolute;
    margin: 3px 0 0 25px;
}

.left {
    width: 50%;
    float: left;
}

.right {
    float: right;
    margin-right: 7% 4% 0 0;
}

#descriptionParagraph {
    display: none;
}

#extension {
    margin-left: -20px;
    width: 40%;
    text-align: right;
    border-left: 1px solid #eee;
}

#right {
    margin-left: 60%;
}

#li_left {
    float: left;
}

#li_right {
    margin-left: 20%;
}

#cardNumber {
    vertical-align: top;
    width: 100%;
}

#expMonth {
    width: 50%;
    height: 30px;
    background-color: #fff;
}

#expirationYear {
    width: 43%;
    height: 30px;
    background-color: #fff;
}

#creditCardNumberError {
    display: none;
}
